<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <link rel="sylesheet" type="text/css" href="https://necolas.github.io/normalize.css/"/>
    <link rel="stylesheet" type="text/css" href="../estilos/estilo.css" />
    <link rel="icon" href="../icons/lol.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet" />
    <title>LoL Guides</title>
  </head>
  <body>
    <div id="div-sett">
      <header>
        <nav>
          <div class="container-fluid">
            <ul class="navegador">
              <li class="navegador__link"><a href="../index.html">inicio</a></li>
              <li class="navegador__link"><a href="libreria.html">Librerias</a></li>
              <li class="navegador__link"><a href="misGuias.html">mis guias</a></li>
              <li class="navegador__link"><a href="login.html">Log In</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div id="banner"><img src="../multimedia/thumb-1920-1061407.jpg"></div>
      <h1>Sett</h1>
      <div class="tit2"><h2>orden habilidades</h2></div>
<table id="tab-hab">
      <tr>
        <td><img src="../icons/Sett/q.png" alt="sett" class="pj__img"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">3</h3></td>
        <td><h3 class="hab-order">4</h3></td>
        <td><h3 class="hab-order">5</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">7</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">9</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>


    </tr>
    <tr>
        <td><img src="../icons/Sett/w.png" alt="fizz" class="pj__img"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">2</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">8</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">10</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><h3 class="hab-order">12</h3></td>
        <td><h3 class="hab-order">13</h3></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
        <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>


    </tr>
    <tr>
      <td><img src="../icons/Sett/e.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><h3 class="hab-order">1</h3></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><h3 class="hab-order">14</h3></td>
      <td><h3 class="hab-order">15</h3></td>
      <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
      <td><h3 class="hab-order">17</h3></td>
      <td><h3 class="hab-order">18</h3></td>

  </tr>
  <tr>
    <td><img src="../icons/Sett/r.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><h3 class="hab-order">6</h3></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><h3 class="hab-order">13</h3></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><h3 class="hab-order">16</h3></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>
    <td><img src="../icons/vaciop.png" alt="agregar" class="pj__img" name="agregar"></td>

</tr>
</table>
<div class="tit2"><h2>runas</h2></div>
<table class="tab-run">
<tr>
    <td><img src="../icons/runes/precision/1.1.png" alt="sett" class="pj__img" class="runas"></td>
    <td><img src="../icons/runes/precision/1.2.png" alt="vayne" class="pj__img" class="runas"></td>
    <td><img src="../icons/runes/precision/1.3.png" alt="vayne" class="pj__img" class="runas"></td>
    <td><img src="../icons/runes/precision/1.4.png" alt="vayne" class="pj__img" class="runas__active"></td>
</tr>
</table>
<table class="tab-run">
    <tr>
        <td><img src="../icons/runes/precision/2.1.png" alt="sett" class="pj__img" class="runas"></td>
        <td><img src="../icons/runes/precision/2.2.png" alt="vayne" class="pj__img" class="runas__active"></td>
        <td><img src="../icons/runes/precision/2.3.png" alt="vayne" class="pj__img" class="runas"></td>
    </tr>
    <tr>
        <td><img src="../icons/runes/precision/4.1.png" alt="sett" class="pj__img" class="runas__active"></td>
        <td><img src="../icons/runes/precision/4.2.png" alt="vayne" class="pj__img" class="runas"></td>
        <td><img src="../icons/runes/precision/4.3.png" alt="vayne" class="pj__img" class="runas"></td>
    </tr>
    <tr>
        <td><img src="../icons/runes/precision/3.1.png" alt="sett" class="pj__img" class="runas"></td>
        <td><img src="../icons/runes/precision/3.2.png" alt="vayne" class="pj__img" class="runas"></td>
        <td><img src="../icons/runes/precision/3.3.png" alt="vayne" class="pj__img" class="runas__active"></td>
    </tr>
    </table>
    

      <p id="spacer"></p>

      <footer>
        <h4>nuestras redes</h4>
        <img src="../icons/insta.png" title="instagram.com" class="footer__link" />
        <br />
        <img src="../icons/face.png" title="facebook.com" class="footer__link" />
      </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>